@import "../../styles/base/_variables";

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $secondary$h-visible;
}

.modalWrap{
  height: 100%;
}

.modalCont{
  background-color: $white;
}

.btn {
  background-color: $theme-lighter;
  color: $white;
}
