@import "../../styles/base/_variables.module";

.imgCont {
  height: 450px;
  max-width: 500px !important;
  position: relative;

  /* Next/Image temp fix */
  span {
    display: flex !important;
    position: relative !important;
    height: 450px !important;
    flex-basis: 100%;
    width: 100% !important;
    max-width: 380px;
    align-items: center;
    justify-content: center;

    img {
      width: auto !important;
      height: auto !important;
      max-height: unset !important;
      min-height: unset !important;
      /* max-width: 90% !important; */
      /* width: auto !important; */
      /* position: static !important; */
      /* min-width: unset !important; */
    }
  }
  /*hack ends */
  .img {
    max-width: 95%;
    height: auto;
    width: auto;
    position: static;
  }
}

.price {
  font-size: 1.1em;
}

.meta {
  li {
    margin: 5px 0;
    list-style: disc;
    list-style-position: inside;
  }
}

.button {
  color: $white;
  background-color: $theme-lighter;
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: $theme-light$h-b-visible;

  .content {
    background-color: $theme;
  }
}

.smalls {
  font-size: $S;
  margin-left: 5px;
}

