@import "../styles/base/_variables.module";

.productCont {
  padding: $S;
  border: 1px solid $theme-lighter;
  transition: all 0.3s ease-in-out;

  &:hover {
    border-color: $theme-light;
  }
}

.prodImg {
  height: 280px;
  position: relative;

  /* Next/Image temp fix */
  span {
    display: flex !important;
    position: relative !important;
    height: 250px !important;
    flex-basis: 100%;
    width: 100% !important;
    max-width: 250px;
    align-items: center;
    justify-content: center;

    img {
      width: auto !important;
      height: auto !important;
      max-height: unset !important;
      min-height: unset !important;
      /* max-width: 90% !important; */
      /* width: auto !important; */
      /* position: static !important; */
      /* min-width: unset !important; */
    }
  }
  /*hack ends */

  .img {
    max-width: 90%;
    height: auto;
    width: auto;
    position: static;
  }
}

.prodName{
  font-size: $L;
  color: $theme-light;
  margin-bottom: 5px;
  padding-left: 5px;
}

.smalls {
  font-size: $S;
  margin-left: 5px;
}

.button {
  color: $white;
  background-color: $theme-lighter;
  cursor: pointer;
}

